@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
}

nav {
  background-color: white;
  position: relative;
}

.rest-name {
  padding: 1em;
  text-align: center;
}

.btn-add {
  margin-left: 1.25em;
  background-color: rgb(229, 228, 228);
  border: none;
  border-radius: 20px;
  padding: 7px;
  width: 9em;
}

.user-order {
  margin-left: 1em;
  font-weight: bold;
  padding-bottom: .5em;
  text-decoration: underline;
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: .75em;
}

.list-item {
  display: flex;
  margin: 1em;
  padding: 1rem;
  padding-bottom: 2em;
  border-bottom: 2px solid lightgray;
}

.list-item-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 110px;
  width: 110px;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 3em;
}

.title {
  margin-bottom: 1em;
}

.stuff {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.subtotal {
  margin-right: 1.1em;
}

.pos-quantity {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: .5em;
  margin-right: .75em;
}

.no-quantity {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: .5em;
  margin-right: .75em;
}

.no-quantity button {
  background-color: rgb(229, 228, 228);
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: .5em;
}

.pos-quantity button {
  border-radius: 50%;
  background: transparent;
  color: #f59068;
  border-color: #f59068;
  height: 1.75em;
  width: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .75em;
  margin-right: .75em;
}

.count {
  margin-top: .9em;
}

.btn-note {
  background: transparent;
  color: #999;
  border: none;
  text-decoration: underline;
  padding: 0em;
  display: flex;
  justify-content: left;
  margin-top: 1em;
  margin-bottom: .75em;
}

.btn-note:hover {
  color: black;
}

.note-msg {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.order {
  text-decoration: none;
}

.order-total {
  margin-top: .75em;
  margin-left: 1em;
  margin-bottom: .75em;
}

.order-total b {
  text-decoration: underline;
}

.btn-options {
  display: flex;
  justify-content: space-evenly;
}

.btn-options button {
  text-align: center;
  margin-bottom: 2em;
}

.place, .pay {
  background: transparent;
  margin-top: 1em;
  display: flex;
  text-align: center;
  border: none;
  background-color: black;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.75rem 5rem;
  border-radius: 0.25rem;
}

.place:hover, .pay:hover {
  background: white;
  color: black;
  border: 2px solid black;
}