
nav {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
}

.restaurant-name {
  margin-top: 2em;
  padding-bottom: .5;
  // padding: 1em;
  text-align: center;
}

.to-menu {
  position: relative;
  border: none;
  // margin-top: -em;
  margin-left: 1em;
}

.to-menu:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);;
}

.hover-text {
  // position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.to-menu:hover .hover-text {
  opacity: 1;
}


.options {
  border-radius: 500px;
  width: 10%;
  text-align: center;
  position: relative;
}

.menu {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
  background-color: #fafafa;
}

.menu li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li h2 {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.checkout-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.checkout {
  border: none;
  background-color: black;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 3rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.total {
  border: solid lightgray;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.cart {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}