@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body {
  height: 100vh;
}

.home-background {
  background: rgb(245, 144, 104);
  background: linear-gradient(55deg, rgba(245, 144, 104, 1) 0%, rgba(250, 130, 34, 1) 36%, rgba(251, 123, 79, 0.9542410714285714) 64%, rgba(252, 69, 136, 0.9346332282913166) 100%);
}

.welcome {
  font-family: 'Kalam', cursive;
  color: white;
  font-size: 35px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 10px;
}

.restaurant {
  color: white;
  font-size: 40px;
  text-align: center;
}

section {
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 2em;
}

.input-field {
  padding: 4em 1em 2em 1em;
  height: 100%;
  width: 100%;
  height: 400px;
  background: rgba(254, 254, 254, 0.209);
  border: 1px solid #fff;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: -1;
}


input, .menu-btn {
  border-radius: 20px;
  border: 1px solid white;
  background: rgba(254, 254, 254, 0.209);
  background: linear-gradient(235deg, rgba(253, 252, 252, 0.644) 0%, rgba(254, 254, 254, 0.128) 92%);
  
  margin-bottom: 2em;
}

.name-field::placeholder,
.table-field::placeholder,
.ph-field::placeholder {
  color: white;
}

form input, .menu-btn {
  font-size: 1.5em;
  color: white;
  padding: 10px;
}

.logo {
  position: relative;
  width: 160px;
  height: 160px;
  z-index: -1;
  margin: -20px 0px -90px 0px;
}

