.admin-orders {
  display: flex;
  flex-wrap: wrap;
}

.admin-order {
  margin: 1rem;
  padding: 2rem;
  width: 30%;
  box-sizing: border-box;
  background-color: rgb(246, 246, 246);
  border-radius: 20px;
}

.order-info {
  display: flex;
  justify-content: space-between;
}

.order-items {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.admin-order-options {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}