
@media only screen and (max-width: 460px) {
  .menu-item {
    display: flex;
    flex-direction: row;
    margin:1em;
    padding: 0.5em;
    border-top: 1px solid grey;

    .item-details {
      width: 80%;
    }

    .price-quantity {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 20%;
    }
  }

}